[submodule "alacritty/themes"]
	path = alacritty/themes
	branch = main
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "neomutt"]
	path = neomutt
	url = git@github.com:ouailderghal/neomutt.git
[submodule "mbsync"]
	path = mbsync
	url = git@github.com:ouailderghal/mbsync.git
